os: linux
dist: focal
language: node_js
node_js: lts/*

branches:
  only:
    - master

cache:
  npm: true
  directories:
    - ~/.cache # Cypress

script:
  - npm run lint -- --no-fix
  - npm run test:e2e -- --headless
